---
import SponsorLogo from "../SponsorLogo/SponsorLogo.astro";

import nuevePuntoCinco from "./9punto5.png";
import jscl from "./jscl.png";
import masmujeresenux from "./masmujeresenux.png";
import womenwhocode from "./womenwhocode.png";

const images = [nuevePuntoCinco, jscl, masmujeresenux, womenwhocode];
---

<ul
  role="list"
  class="grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-12"
>
  {
    images.map((img) => (
      <li class="list-none list-image-none flex justify-center items-center">
        <img
          src={img.src}
          class:list={[
            "object-contain object-left w-full col-span-2 lg:col-span-1",
            // "brightness-0 invert",
          ]}
        />
      </li>
    ))
  }
</ul>
