---
import Layout from "../layouts/Layout.astro";
import SimpleCard from "../components/SimpleCard/SimpleCard.astro";
import SponsorsSection from "../components/SponsorsSection/SponsorsSection.astro";
import CurrentSponsorsSection from "../components/CurrentSponsorsSection/CurrentSponsorsSection.astro";
import CommunitiesSection from "../components/CommunitiesSection/CommunitiesSection.astro";
import HomeHero from "../components/HomeHero/HomeHero.astro";
import Footer from "../components/Footer/Footer.astro";
---

<Layout title="Community OS">
  <HomeHero />
  <main
    class="mx-auto p-4 w-full max-w-3xl text-white leading-8 py-32 flex flex-col gap-40"
  >
    <ul
      role="list"
      class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-8 p-0"
    >
      <SimpleCard
        title="Misión"
        body="Potenciar la vinculación y el impacto de las comunidades tecnológicas."
      />
      <SimpleCard
        title="Visión"
        body="Ayudar a personas, comunidades y empresas a alcanzar su máximo potencial."
      />
    </ul>

    <SponsorsSection />

    <div class="flex flex-col gap-10">
      <div class="text-4xl text-center font-bold">
        Unificamos el trabajo de <span class="text-cyan-300">comunidades</span>
      </div>

      <div
        role="list"
        class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-8 p-0"
      >
        <p role="listitem" class="text-white mt-2 text-lg">
          Integramos los esfuerzos de comunidades tecnológicas para amplificar
          su impacto en el ecosistema creando un espacio de cooperación,
          promoviendo su trabajo, apoyándoles a crear espacios saludables y
          entregándoles recursos para facilitar su operación.
        </p>

        <p role="listitem" class="text-white text-lg">
          <span class="text-2xl block">En los próximos 5 años:</span>
          <span>
            Buscamos crear el mejor ecosistema de comunidades tecnológicas de la
            región impactando a +30.000 profesionales de tecnología en Chile y
            +150.000 en Latinoamérica
          </span>
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <div class="text-4xl text-center font-bold">
        <span class="text-cyan-300">Comunidades</span> asociadas
      </div>

      <CommunitiesSection />
      <div class="text-lg opacity-80 italic text-center font-bold">
        ¿Lideras una comunidad? ¿Te interesa ser parte de nuestra red?
        <br />
        Envíanos un correo a
        <a
          href="mailto:join@communityOS.io"
          target="_blank"
          class="text-cyan-300">join@communityOS.io</a
        >
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <div class="text-4xl text-center font-bold">
        Nuestros <span class="text-cyan-300">Sponsors</span>
      </div>

      <CurrentSponsorsSection />
      <div class="text-lg opacity-80 text-center">
        Conviertete en sponsor de CommunityOS. Envíanos un correo a
        <a
          href="mailto:sponsors@communityOS.io"
          target="_blank"
          class="text-cyan-300">sponsors@communityOS.io</a
        >
        <br />
        Llega a miles de profesionales de tecnología, y apoya a múltiples comunidades
        tecnológicas con <span class="font-bold">
          menos esfuerzo, más impacto y certeza.
        </span>
        <br />
      </div>

      <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 gap-8 p-0">
        <SimpleCard
          title=""
          body="Vincula tu organización con el ecosistema TECH"
        />
        <SimpleCard
          title=""
          body="Conéctate con el mejor Talento de la región"
        />
        <SimpleCard
          title=""
          body="Participa de todos nuestros eventos a lo largo del año"
        />
        <SimpleCard
          title=""
          body="Posiciona tu organización como un referente en la industria"
        />
      </ul>
    </div>
  </main>
  <Footer />
</Layout>
