---
import SponsorLogo from "../SponsorLogo/SponsorLogo.astro";

import bbk2brains from "./bbk2brains.png";
import bci from "./bci.png";
import cloudiunary from "./cloudiunary.png";
import coredevex from "./coredevex.png";
import elastic from "./elastic.png";
import fch from "./fch.png";
import google from "./google.png";
import gtd from "./gtd-telsur.png";
import laboratoria from "./laboratoria.png";
import mach from "./mach.png";
import mediastream from "./mediastream.png";
import microsfot from "./microsfot.png";
import salesforce from "./salesforce.png";
import sofofa from "./sofofa.png";
import softserve from "./softserve.png";
import stripe from "./stripe.png";
import synaptic from "./synaptic.png";
import walmart from "./walmart.png";

const images = [
  bbk2brains,
  bci,
  cloudiunary,
  coredevex,
  elastic,
  fch,
  google,
  gtd,
  laboratoria,
  mach,
  mediastream,
  microsfot,
  salesforce,
  sofofa,
  softserve,
  stripe,
  synaptic,
  walmart,
];
---

<div class="flex flex-col gap-6">
  <div class="text-lg text-center font-thin italic">
    Apoyaron a las comunidades miembros de CommunityOS:
  </div>
  <ul
    role="list"
    class="grid grid-cols-[repeat(auto-fill,minmax(80px,1fr))] gap-9"
  >
    {images.map((src) => <SponsorLogo src={src.src} />)}
  </ul>
</div>
