---
import "@fontsource/poppins";
import "@fontsource/open-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --black: 0, 0, 0;
    --less-black: 3, 3, 3;
    --os-teal: 76, 244, 255;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --page-background-gradient: linear-gradient(
      45deg,
      rgb(var(--black)),
      rgb(var(--less-black))
    );
  }
  html {
    background: rgb(var(--less-black));
    background-image: var(--page-background-gradient);
  }
</style>
